main.svelte-1ut1w4n {
    margin: 0px auto;
    width: 100% 
}
main.svelte-1ut1w4n .titleAndHeadings {
    font-family: "Gelasio", Georgia, Times, "Times New Roman", serif;
    letter-spacing: 0.2px;
    line-height: 1.2em 
}
main.svelte-1ut1w4n .metaFont {
    font-family: Arial, Helvetica, sans-serif 
}
.flex-row.svelte-b4f4kz {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center 
}
.flex-column.svelte-b4f4kz {
    flex-flow: column 
}
.flex-grow0.svelte-b4f4kz {
    flex-grow: 0;
    width: calc(100%-10px) 
}
.flex-grow1.svelte-b4f4kz {
    flex-grow: 1;
    flex-basis: 0 
}
.flex-grow2.svelte-b4f4kz {
    flex-grow: 2;
    flex-basis: 0 
}
.flex-grow3.svelte-b4f4kz {
    flex-grow: 3;
    flex-basis: 0 
}
.html.svelte-p9jyr1 {
    padding: 5px 
}
.flexCenter.svelte-1m9guhq.svelte-1m9guhq {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center 
}
hr.svelte-1m9guhq.svelte-1m9guhq {
    border: 1px;
}
article.svelte-1m9guhq.svelte-1m9guhq {
    width: calc(100% - 20px);
    padding: 0 10px;
    line-height: 30px;
}
article.svelte-1m9guhq main.svelte-1m9guhq {
    min-height: 500px 
}
article.svelte-1m9guhq main.svelte-1m9guhq img {
    max-height: 750px 
}
article.svelte-1m9guhq main.svelte-1m9guhq .container-image {
    margin: 0 auto 10px auto;
    overflow: hidden;
}
article.svelte-1m9guhq main.svelte-1m9guhq .container-image .caption {
    margin-top: -0.65em;
    padding: 5px;
    line-height: 1.3em 
}
article.svelte-1m9guhq main.svelte-1m9guhq .gallery {
    margin-bottom: 15px;
    overflow: hidden 
}
article.svelte-1m9guhq main.svelte-1m9guhq .gallery .caption {
    line-height: 1.3em 
}
article.svelte-1m9guhq main.svelte-1m9guhq h1, article.svelte-1m9guhq main.svelte-1m9guhq h2, article.svelte-1m9guhq main.svelte-1m9guhq h3, article.svelte-1m9guhq main.svelte-1m9guhq h4 {
    min-height: 30px;
    padding: 0 10px 0 10px;
    margin: 15px 5px 0px 5px;
    font-family: Georgia, serif;
}
article.svelte-1m9guhq main.svelte-1m9guhq blockquote {
    margin-left: 20px;
    border-left: 5px;
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block {
    display: flex;
    justify-content: center;
    align-items: center 
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block iframe {
    width: calc(100% - 20px) 
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block iframe.responsive {
    height: 100%;
    min-height: 250px 
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block iframe.facebook-iframe {
    max-width: 390px;
    aspect-ratio: 16/9;
    margin: auto 
}
article.svelte-1m9guhq main.svelte-1m9guhq ol, article.svelte-1m9guhq main.svelte-1m9guhq ol {
    margin: 15px 20px 15px 5px;
    padding: 0 10px 0 10px 
}
article.svelte-1m9guhq main.svelte-1m9guhq li {
    margin: 15px 5px 15px 5px 
}
article.svelte-1m9guhq main.svelte-1m9guhq p {
    min-height: 25px;
    padding: 0;
    margin: 15px 5px 15px 5px;
    padding: 0 10px 0 10px 
}
article.svelte-1m9guhq {
    margin-top: 20px;
    margin-bottom: 20px 
}
@media screen and (max-width: 1010px) {
    article.svelte-1m9guhq main.svelte-1m9guhq .container-image {
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 15px 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .container-image .caption {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 32px) 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .gallery {
        margin-left: -16px;
        margin-right: -16px 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .gallery .caption {
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% - 32px) 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .container-embed {
        margin-left: -16px;
        margin-right: -16px 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq iframe.videoPlayer {
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 30px) 
   }
}
@media screen and (max-width: 600px) {
    article.svelte-1m9guhq main.svelte-1m9guhq p, article.svelte-1m9guhq main.svelte-1m9guhq h1, article.svelte-1m9guhq main.svelte-1m9guhq h2, article.svelte-1m9guhq main.svelte-1m9guhq h3, article.svelte-1m9guhq main.svelte-1m9guhq h4 {
        padding: 0 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq ul, article.svelte-1m9guhq main.svelte-1m9guhq ol {
        padding: 0 15px 
   }
}
@media screen and (max-width: 500px) {
    article.svelte-1m9guhq.svelte-1m9guhq {
        line-height: 28px;
        width: calc(100% - 10px);
        padding: 5px 
   }
}
article.amp .amp.svelte-hvtg27.svelte-hvtg27 {
    margin-top: 20px 
}
header.svelte-hvtg27.svelte-hvtg27 {
    margin-bottom: 10px;
    overflow: hidden 
}
header.svelte-hvtg27 .articleTypeHint.svelte-hvtg27 {
    margin-top: 10px;
    margin-bottom: -5px;
    padding: 2px 5px;
    width: fit-content;
    display: flex;
    line-height: 1.8em;
    justify-content: left;
    align-items: center 
}
header.svelte-hvtg27 .articleTypeHint img.svelte-hvtg27 {
    height: 1em;
    margin-left: 0.5em 
}
header.svelte-hvtg27 .blogAuthor.svelte-hvtg27 {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100% 
}
header.svelte-hvtg27 .blogAuthor .avatar.svelte-hvtg27 {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px 
}
header.svelte-hvtg27 .title.svelte-hvtg27 {
    display: flex;
    justify-content: space-between;
    align-items: center 
}
header.svelte-hvtg27 h1.svelte-hvtg27 {
    min-height: 35px;
    display: inline-block;
    line-height: 1.15em 
}
header.svelte-hvtg27 .date.svelte-hvtg27 {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
header.svelte-hvtg27 .date time.svelte-hvtg27 {
    margin-left: 5px;
    display: inline-block 
}
header.svelte-hvtg27 .date .published.svelte-hvtg27, header.svelte-hvtg27 .date .updated.svelte-hvtg27 {
    display: flex;
    align-items: center;
    justify-content: center 
}
header.svelte-hvtg27 .date .published.svelte-hvtg27 {
    margin-right: 15px 
}
header.svelte-hvtg27 .date .icon.svelte-hvtg27 {
    margin-right: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
}
header.amp.svelte-hvtg27 .date .updated.svelte-hvtg27 {
    margin-top: 5px 
}
@media screen and (max-width: 1000px) {
    header.amp.svelte-hvtg27 {
        flex-direction: row 
   }
    header.amp.svelte-hvtg27 {
        width: 100%;
        margin: 15px auto auto auto 
   }
    header.amp.svelte-hvtg27 {
        display: none 
   }
    header.amp.svelte-hvtg27 {
        width: auto;
        margin: 10px 0 0 0 
   }
    header.amp.svelte-hvtg27 {
        margin: 10px 0 0 auto 
   }
    header.svelte-hvtg27 h1.svelte-hvtg27 {
        min-height: 27px;
        line-height: 27px 
   }
    header.svelte-hvtg27 {
        justify-content: flex-start 
   }
    header.svelte-hvtg27 div.topic.svelte-hvtg27 {
        margin-right: auto 
   }
    header.svelte-hvtg27 .date.svelte-hvtg27 {
        width: 100%;
        margin: 5px auto;
        flex-wrap: wrap 
   }
}
.container-image.svelte-jd4qiv {
    text-align: center;
    display: block 
}
.img.svelte-jd4qiv {
    display: flex;
    justify-content: center;
    align-content: center 
}
.border.svelte-jd4qiv {
    border: 1px;
}
img.svelte-h45upf.svelte-h45upf {
    object-fit: contain;
    max-width: 100%;
    height: auto 
}
div.fill.svelte-h45upf.svelte-h45upf {
    background-size: cover;
    width: 100% !important;
    height: 100% !important 
}
.fill.svelte-h45upf img.svelte-h45upf {
    width: 100%;
    height: 100%;
    object-fit: fill 
}
img.fill.svelte-h45upf.svelte-h45upf {
    object-fit: fill 
}
div.contain.svelte-h45upf.svelte-h45upf {
    background-size: contain;
    width: 100% !important;
    height: 100% !important 
}
.contain.svelte-h45upf img.svelte-h45upf {
    width: 100%;
    height: 100%;
    object-fit: contain 
}
img.contain.svelte-h45upf.svelte-h45upf {
    object-fit: contain 
}
div.cover.svelte-h45upf.svelte-h45upf {
    background-size: cover;
    width: 100% !important;
    height: 100% !important 
}
.cover.svelte-h45upf img.svelte-h45upf {
    width: 100%;
    height: 100%;
    object-fit: cover 
}
img.cover.svelte-h45upf.svelte-h45upf {
    object-fit: cover 
}
.image.svelte-h45upf.svelte-h45upf {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 
}
h1.svelte-1ej6nv9, h2.svelte-1ej6nv9, h3.svelte-1ej6nv9 {
    width: 100% 
}
.block-Title {
    flex-grow: 0 !important 
}
h1.svelte-1fkr9fj.svelte-1fkr9fj, h2.svelte-1fkr9fj.svelte-1fkr9fj, h3.svelte-1fkr9fj.svelte-1fkr9fj {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0 10px 0;
    border-bottom: 2px;
    width: calc(100% - 13px);
    margin: 5px auto 5px auto 
}
h1.svelte-1fkr9fj a.svelte-1fkr9fj, h2.svelte-1fkr9fj a.svelte-1fkr9fj, h3.svelte-1fkr9fj a.svelte-1fkr9fj {
    display: flex;
    justify-content: center;
    align-items: center 
}
.image.svelte-1fkr9fj.svelte-1fkr9fj {
    aspect-ratio: 1;
    object-fit: contain;
    width: 32px;
    margin-left: 10px 
}
@media only screen and (max-width: 500px) {
    .row {
        margin-bottom: 15px !important 
   }
    div.multiColumnParent.svelte-1h5vdfy {
        border-right: 1px;
   }
    .borderRight.svelte-1h5vdfy {
        border-right: none 
   }
}
.row.svelte-7ep0p0.svelte-7ep0p0 {
    background-position: center center;
    background-size: 100px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden 
}
.row.svelte-7ep0p0 span.svelte-7ep0p0 {
    visibility: hidden 
}
.row.svelte-4dr2hm.svelte-4dr2hm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px 
}
.row.svelte-4dr2hm .title.svelte-4dr2hm {
    position: relative;
    width: 100%;
    position: relative;
    line-height: 1.25em 
}
.row.svelte-4dr2hm .opening.svelte-4dr2hm {
    text-align: center 
}
.row.svelte-4dr2hm .large.svelte-4dr2hm {
    text-align: center 
}
div.svelte-1f3w406 {
    text-align: center;
    padding: 10px;
    width: 100%;
}
hr.svelte-1f3w406 {
    border-top: 1px;
    width: calc(100% - 20px);
    margin: 10px auto 10px auto 
}
@keyframes svelte-3ygqb2-fadein {
    from {
        opacity: 0.1 
   }
    to {
        opacity: 1 
   }
}
.tooltip.svelte-3ygqb2 .tooltiptext.svelte-3ygqb2 {
    visibility: hidden;
    width: 150px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1 
}
.tooltip.svelte-3ygqb2:hover .tooltiptext.svelte-3ygqb2 {
    visibility: visible 
}
.tabs.svelte-1jfxw0a.svelte-1jfxw0a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    box-shadow: 1px -5px 11px -11px rgba(0, 0, 0, 0.35) inset;
    user-select: none;
    margin-top: 10px 
}
.tabs.svelte-1jfxw0a .tab.svelte-1jfxw0a {
    border-right: 1px;
    padding: 10px;
    cursor: pointer 
}
.tabs.svelte-1jfxw0a .tab.svelte-1jfxw0a:last-child {
    border-right: none 
}
div.withTabs.svelte-1jfxw0a.svelte-1jfxw0a {
    margin-bottom: 10px 
}
.opening.svelte-1mo6hi5 {
    text-align: center 
}
.large.svelte-1mo6hi5 {
    text-align: center 
}
@media only screen and (max-width: 500px) {
    .opening.svelte-1mo6hi5 {
        text-align: left 
   }
    .large.svelte-1mo6hi5 {
        text-align: left 
   }
}
</style><article class="svelte-1m9guhq" style="--contextColor: rgba(231,99,40,0.9); --contextColorLight: rgba(231,99,40,0.1); --contextColorMid: rgba(231,99,40,0.75)">
<h1 class="titleAndHeadings svelte-hvtg27">Ce corelație există între culoarea unei mașini, tipul de carburant și kilometraj</h1>
<main class="svelte-1m9guhq" style="--mainMenuHeight: 54px;"><p>Deși culorile monocromatice precum alb, gri și negru domină piața vehiculelor la mâna a doua, mașinile vopsite în aceste culori nu sunt neapărat folosite pentru a face navete mai lungi.</p>
<div class="container-image svelte-jd4qiv"><img alt="Mașini parcate" class="svelte-h45upf" height="750" loading="eager" src="https://cdn.adh.reperio.news/image-2/262c96d7-3802-4586-ab35-5ec5c949118e/index.jpeg?p=a%3D1%26co%3D1.05%26w%3D700%26h%3D750%26r%3Dcontain%26f%3Dwebp" width="1400"/>
<div class="caption">Specialiștii auto spun că ar putea exista o corelație între culoarea mașinii și kilometraj</div></div>
<p>Cele mai recente cercetări ale carVertical, o companie de date auto, efectuate în 15 țări europene inclusiv România, au scos la iveală o corelație între culorile mașinilor și kilometrajul acestora.</p>
<h2>Mașinile maro parcurg cei mai mulți kilometri</h2>
<p>Dintre toate vehiculele verificate în România pe carVertical, mașinile maro au avut cel mai ridicat kilometraj mediu – 182.495 km, urmate de cele negre (173.274 km) și gri (167.471 km).</p>
<p>Maroul este adesea specific mașinilor premium sau de lux, mașini mai potrivite pentru călătorii zilnice pe distanțe lungi, în special în afara orașului. Negrul are și el o cotă semnificativă pe piață și în ciuda faptului că nu este foarte practic este încă apreciat de toate tipurile de șoferi. Argintiul este una dintre cele mai populare culori, prezentă pe o gamă largă de mașini de la modelele de segment A sau B până la vehiculele scumpe de lux. De asemenea, este percepută pe scară largă ca fiind cea mai practică culoare și este folosită în țări cu climă foarte diferită.</p>
<p>„<i>Mașinile diesel parcurg cei mai mulți kilometri. Cu toate acestea, cercetarea noastră a concluzionat că și culorile vehiculelor influențează cât de mult sunt utilizate acele mașini</i>”, spune Matas Buzelis, expert auto și șeful de comunicații al carVertical.</p>
<h2>Mașinile portocalii și cele roșii au kilometrajul cel mai scăzut</h2>
<p>Mașinile portocalii au kilometrajul mediu cel mai redus – 126.864 km. Vehiculele roșii (138.314 km) și cele galbene (156.625 km) parcurg și ele mai puțini kilometri decât orice alt tip de mașină.</p>
<p>Portocaliul este o alegere foarte nepopulară în rândul cumpărătorilor și este folosit mai ales pentru servicii speciale de transport. </p>
<p>Roșul este, de asemenea, o culoare relativ rară, găsită mai des pe vehiculele care aparțin pasionaților de mașini. Este o alegere populară pentru decapotabile, roadsteruri și coupeuri, dar aceste tipuri de mașini sunt rareori folosite la fel de mult ca breakurile sau SUVuri. Galbenul este folosit mai ales de șoferii care doresc să iasă în evidență, dar aceștia nu sunt, de obicei, cei care fac navete lungi.</p>
<p>„<i>Cumpărătorii de mașini second hand sunt mai puțin pretențioși în privința culorilor vehiculelor în comparație cu oamenii care cumpără mașini noi de la reprezentanțe. Cu toate acestea, sunt și unii cumpărători care se concentrează mai mult pe culoarea unui vehicul și acordă mai puțină atenție stării în care se află acesta. Nu este cea mai bună abordare, deoarece mașinile prost întreținute ar putea arăta bine la exterior, dar pot fi costisitoare de deținut și întreținut. Starea mașinii și înregistrările istorice ar trebui să fie factorii care influențează cel mai mult decizia cumpărătorului, nu culoarea sau atractivitatea vizuală a mașinii</i>”, explică Buzelis.</p>
</main>
</article>]]></description>
      <pubDate>Wed, 12 Jun 2024 21:00:25 GMT</pubDate>
    </item>
    <item>
      <title>Topul celor mai rapide mașini din lume. Ce bolid atinge 100 km/oră în doar 1,4 secunde</title>
      <link>https://adevarul.ro/stil-de-viata/auto/topul-celor-mai-rapide-masini-din-lume-ce-bolid-2365331.html</link>
      <description><![CDATA[<style>main.svelte-1ut1w4n {
    margin: 0px auto;
    width: 100% 
}
main.svelte-1ut1w4n .titleAndHeadings {
    font-family: "Gelasio", Georgia, Times, "Times New Roman", serif;
    letter-spacing: 0.2px;
    line-height: 1.2em 
}
main.svelte-1ut1w4n .metaFont {
    font-family: Arial, Helvetica, sans-serif 
}
.flex-row.svelte-b4f4kz {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center 
}
.flex-column.svelte-b4f4kz {
    flex-flow: column 
}
.flex-grow0.svelte-b4f4kz {
    flex-grow: 0;
    width: calc(100%-10px) 
}
.flex-grow1.svelte-b4f4kz {
    flex-grow: 1;
    flex-basis: 0 
}
.flex-grow2.svelte-b4f4kz {
    flex-grow: 2;
    flex-basis: 0 
}
.flex-grow3.svelte-b4f4kz {
    flex-grow: 3;
    flex-basis: 0 
}
.html.svelte-p9jyr1 {
    padding: 5px 
}
.flexCenter.svelte-1m9guhq.svelte-1m9guhq {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center 
}
hr.svelte-1m9guhq.svelte-1m9guhq {
    border: 1px;
}
article.svelte-1m9guhq.svelte-1m9guhq {
    width: calc(100% - 20px);
    padding: 0 10px;
    line-height: 30px;
}
article.svelte-1m9guhq main.svelte-1m9guhq {
    min-height: 500px 
}
article.svelte-1m9guhq main.svelte-1m9guhq img {
    max-height: 750px 
}
article.svelte-1m9guhq main.svelte-1m9guhq .container-image {
    margin: 0 auto 10px auto;
    overflow: hidden;
}
article.svelte-1m9guhq main.svelte-1m9guhq .container-image .caption {
    margin-top: -0.65em;
    padding: 5px;
    line-height: 1.3em 
}
article.svelte-1m9guhq main.svelte-1m9guhq .gallery {
    margin-bottom: 15px;
    overflow: hidden 
}
article.svelte-1m9guhq main.svelte-1m9guhq .gallery .caption {
    line-height: 1.3em 
}
article.svelte-1m9guhq main.svelte-1m9guhq h1, article.svelte-1m9guhq main.svelte-1m9guhq h2, article.svelte-1m9guhq main.svelte-1m9guhq h3, article.svelte-1m9guhq main.svelte-1m9guhq h4 {
    min-height: 30px;
    padding: 0 10px 0 10px;
    margin: 15px 5px 0px 5px;
    font-family: Georgia, serif;
}
article.svelte-1m9guhq main.svelte-1m9guhq blockquote {
    margin-left: 20px;
    border-left: 5px;
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block {
    display: flex;
    justify-content: center;
    align-items: center 
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block iframe {
    width: calc(100% - 20px) 
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block iframe.responsive {
    height: 100%;
    min-height: 250px 
}
article.svelte-1m9guhq main.svelte-1m9guhq .raw-block iframe.facebook-iframe {
    max-width: 390px;
    aspect-ratio: 16/9;
    margin: auto 
}
article.svelte-1m9guhq main.svelte-1m9guhq ol, article.svelte-1m9guhq main.svelte-1m9guhq ol {
    margin: 15px 20px 15px 5px;
    padding: 0 10px 0 10px 
}
article.svelte-1m9guhq main.svelte-1m9guhq li {
    margin: 15px 5px 15px 5px 
}
article.svelte-1m9guhq main.svelte-1m9guhq p {
    min-height: 25px;
    padding: 0;
    margin: 15px 5px 15px 5px;
    padding: 0 10px 0 10px 
}
article.svelte-1m9guhq {
    margin-top: 20px;
    margin-bottom: 20px 
}
@media screen and (max-width: 1010px) {
    article.svelte-1m9guhq main.svelte-1m9guhq .container-image {
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 15px 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .container-image .caption {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 32px) 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .gallery {
        margin-left: -16px;
        margin-right: -16px 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .gallery .caption {
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% - 32px) 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq .container-embed {
        margin-left: -16px;
        margin-right: -16px 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq iframe.videoPlayer {
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 30px) 
   }
}
@media screen and (max-width: 600px) {
    article.svelte-1m9guhq main.svelte-1m9guhq p, article.svelte-1m9guhq main.svelte-1m9guhq h1, article.svelte-1m9guhq main.svelte-1m9guhq h2, article.svelte-1m9guhq main.svelte-1m9guhq h3, article.svelte-1m9guhq main.svelte-1m9guhq h4 {
        padding: 0 
   }
    article.svelte-1m9guhq main.svelte-1m9guhq ul, article.svelte-1m9guhq main.svelte-1m9guhq ol {
        padding: 0 15px 
   }
}
@media screen and (max-width: 500px) {
    article.svelte-1m9guhq.svelte-1m9guhq {
        line-height: 28px;
        width: calc(100% - 10px);
        padding: 5px 
   }
}
article.amp .amp.svelte-hvtg27.svelte-hvtg27 {
    margin-top: 20px 
}
header.svelte-hvtg27.svelte-hvtg27 {
    margin-bottom: 10px;
    overflow: hidden 
}
header.svelte-hvtg27 .articleTypeHint.svelte-hvtg27 {
    margin-top: 10px;
    margin-bottom: -5px;
    padding: 2px 5px;
    width: fit-content;
    display: flex;
    line-height: 1.8em;
    justify-content: left;
    align-items: center 
}
header.svelte-hvtg27 .articleTypeHint img.svelte-hvtg27 {
    height: 1em;
    margin-left: 0.5em 
}
header.svelte-hvtg27 .blogAuthor.svelte-hvtg27 {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100% 
}
header.svelte-hvtg27 .blogAuthor .avatar.svelte-hvtg27 {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px 
}
header.svelte-hvtg27 .title.svelte-hvtg27 {
    display: flex;
    justify-content: space-between;
    align-items: center 
}
header.svelte-hvtg27 h1.svelte-hvtg27 {
    min-height: 35px;
    display: inline-block;
    line-height: 1.15em 
}
header.svelte-hvtg27 .date.svelte-hvtg27 {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
header.svelte-hvtg27 .date time.svelte-hvtg27 {
    margin-left: 5px;
    display: inline-block 
}
header.svelte-hvtg27 .date .published.svelte-hvtg27, header.svelte-hvtg27 .date .updated.svelte-hvtg27 {
    display: flex;
    align-items: center;
    justify-content: center 
}
header.svelte-hvtg27 .date .published.svelte-hvtg27 {
    margin-right: 15px 
}
header.svelte-hvtg27 .date .icon.svelte-hvtg27 {
    margin-right: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
}
header.amp.svelte-hvtg27 .date .updated.svelte-hvtg27 {
    margin-top: 5px 
}
@media screen and (max-width: 1000px) {
    header.amp.svelte-hvtg27 {
        flex-direction: row 
   }
    header.amp.svelte-hvtg27 {
        width: 100%;
        margin: 15px auto auto auto 
   }
    header.amp.svelte-hvtg27 {
        display: none 
   }
    header.amp.svelte-hvtg27 {
        width: auto;
        margin: 10px 0 0 0 
   }
    header.amp.svelte-hvtg27 {
        margin: 10px 0 0 auto 
   }
    header.svelte-hvtg27 h1.svelte-hvtg27 {
        min-height: 27px;
        line-height: 27px 
   }
    header.svelte-hvtg27 {
        justify-content: flex-start 
   }
    header.svelte-hvtg27 div.topic.svelte-hvtg27 {
        margin-right: auto 
   }
    header.svelte-hvtg27 .date.svelte-hvtg27 {
        width: 100%;
        margin: 5px auto;
        flex-wrap: wrap 
   }
}
.container-image.svelte-jd4qiv {
    text-align: center;
    display: block 
}
.img.svelte-jd4qiv {
    display: flex;
    justify-content: center;
    align-content: center 
}
.border.svelte-jd4qiv {
    border: 1px;
}
img.svelte-h45upf.svelte-h45upf {
    object-fit: contain;
    max-width: 100%;
    height: auto 
}
div.fill.svelte-h45upf.svelte-h45upf {
    background-size: cover;
    width: 100% !important;
    height: 100% !important 
}
.fill.svelte-h45upf img.svelte-h45upf {
    width: 100%;
    height: 100%;
    object-fit: fill 
}
img.fill.svelte-h45upf.svelte-h45upf {
    object-fit: fill 
}
div.contain.svelte-h45upf.svelte-h45upf {
    background-size: contain;
    width: 100% !important;
    height: 100% !important 
}
.contain.svelte-h45upf img.svelte-h45upf {
    width: 100%;
    height: 100%;
    object-fit: contain 
}
img.contain.svelte-h45upf.svelte-h45upf {
    object-fit: contain 
}
div.cover.svelte-h45upf.svelte-h45upf {
    background-size: cover;
    width: 100% !important;
    height: 100% !important 
}
.cover.svelte-h45upf img.svelte-h45upf {
    width: 100%;
    height: 100%;
    object-fit: cover 
}
img.cover.svelte-h45upf.svelte-h45upf {
    object-fit: cover 
}
.image.svelte-h45upf.svelte-h45upf {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 
}
h1.svelte-1ej6nv9, h2.svelte-1ej6nv9, h3.svelte-1ej6nv9 {
    width: 100% 
}
.block-Title {
    flex-grow: 0 !important 
}
h1.svelte-1fkr9fj.svelte-1fkr9fj, h2.svelte-1fkr9fj.svelte-1fkr9fj, h3.svelte-1fkr9fj.svelte-1fkr9fj {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0 10px 0;
    border-bottom: 2px;
    width: calc(100% - 13px);
    margin: 5px auto 5px auto 
}
h1.svelte-1fkr9fj a.svelte-1fkr9fj, h2.svelte-1fkr9fj a.svelte-1fkr9fj, h3.svelte-1fkr9fj a.svelte-1fkr9fj {
    display: flex;
    justify-content: center;
    align-items: center 
}
.image.svelte-1fkr9fj.svelte-1fkr9fj {
    aspect-ratio: 1;
    object-fit: contain;
    width: 32px;
    margin-left: 10px 
}
@media only screen and (max-width: 500px) {
    .row {
        margin-bottom: 15px !important 
   }
    div.multiColumnParent.svelte-1h5vdfy {
        border-right: 1px;
   }
    .borderRight.svelte-1h5vdfy {
        border-right: none 
   }
}
.row.svelte-7ep0p0.svelte-7ep0p0 {
    background-position: center center;
    background-size: 100px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden 
}
.row.svelte-7ep0p0 span.svelte-7ep0p0 {
    visibility: hidden 
}
.row.svelte-4dr2hm.svelte-4dr2hm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px 
}
.row.svelte-4dr2hm .title.svelte-4dr2hm {
    position: relative;
    width: 100%;
    position: relative;
    line-height: 1.25em 
}
.row.svelte-4dr2hm .opening.svelte-4dr2hm {
    text-align: center 
}
.row.svelte-4dr2hm .large.svelte-4dr2hm {
    text-align: center 
}
div.svelte-1f3w406 {
    text-align: center;
    padding: 10px;
    width: 100%;
}
hr.svelte-1f3w406 {
    border-top: 1px;
    width: calc(100% - 20px);
    margin: 10px auto 10px auto 
}
@keyframes svelte-3ygqb2-fadein {
    from {
        opacity: 0.1 
   }
    to {
        opacity: 1 
   }
}
.tooltip.svelte-3ygqb2 .tooltiptext.svelte-3ygqb2 {
    visibility: hidden;
    width: 150px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1 
}
.tooltip.svelte-3ygqb2:hover .tooltiptext.svelte-3ygqb2 {
    visibility: visible 
}
.tabs.svelte-1jfxw0a.svelte-1jfxw0a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    box-shadow: 1px -5px 11px -11px rgba(0, 0, 0, 0.35) inset;
    user-select: none;
    margin-top: 10px 
}
.tabs.svelte-1jfxw0a .tab.svelte-1jfxw0a {
    border-right: 1px;
    padding: 10px;
    cursor: pointer 
}
.tabs.svelte-1jfxw0a .tab.svelte-1jfxw0a:last-child {
    border-right: none 
}
div.withTabs.svelte-1jfxw0a.svelte-1jfxw0a {
    margin-bottom: 10px 
}
.opening.svelte-1mo6hi5 {
    text-align: center 
}
.large.svelte-1mo6hi5 {
    text-align: center 
}
@media only screen and (max-width: 500px) {
    .opening.svelte-1mo6hi5 {
        text-align: left 
   }
    .large.svelte-1mo6hi5 {
        text-align: left 
   }
}
